<% ingredient_array = @ingredients.collect {|i| i.name}.sort %>
<% i_list = [] %>

<div class="container-fluid">
<form action="<%= recipe_path(@recipe) %>" method="POST">
  <input name="_method" type="hidden" value="put" />
  <input id="submitted-list" type="hidden" name="ingredients_list" value=""/>
  <div class="span12">

  <!-- <textarea rows="3" cols="20" placeholder="Ingredients">
  </textarea> -->
  <h1>Edit: <%= @recipe.name %><button type="submit" id="ingredient-submit" class="btn btn-success btn-large" style="margin:-10px 0 0 20px">Update</button></h1>

  </div>
  <div class="container-fluid">
    <div class="span5">
      <h3>Ingredients:</h3>
      <h4 id="list"><% @recipe.ingredients.each_with_index do |i,index| %>
              <% i_list << i.name %>
              <% comma_var = index < @recipe.ingredients.size-1 ? "," : "" %>
              <%= i.name + comma_var %>
              <% end %></h4>
    </div>
    <div class="span2">
    </div>
    <div class="span5">
      <h3>Pantry: (Click to add)</h3>
      <div class="well">
        <% ingredient_array.each do |i| %>
          <p class="btn" style="margin-bottom:2px" id="ingredient-<%=i.gsub(" ","_")%>"><%=i%></p>
        <%end%>
      </div>
      <span class='btn btn-danger pull-right' style="margin-top:-10px; font-weight: 460" id='reset_ingredients'>Reset</span>
    </div>
  </div>
</form>
<div class="span12">
  <%= link_to "Back to Recipes", recipes_path %>
</div>
</div>

    <%= render :partial => 'jscript_edit', :formats=>[:js], :locals => {:ingredient_array => ingredient_array, :i_list => i_list }%>
