<div class="container-fluid">

  <h1>My Lovely Recipes</h1>

  <ul>
  <% @recipes.each do |recipe| %>
      <li class="row_fluid">
      <div class="row-fluid">
        <div class="span12 well">
          <h2 class="recipe"><%= recipe.name %>
            <span style="font-weight: normal; font-size: 20px; width:100px; overflow:hidden">w/<% recipe.ingredients.each_with_index do |i,index| %>
              <% comma_var = index <= 2 ? "," : "..." %>
              <%= i.name + comma_var %>
              <% break if index > 2 %>
              <% end %>
            </span></h2>
          <span class="tile pull-right tile-index">
          <%= link_to 'Show', recipe, :class => "btn btn-info" %>
          <%= link_to 'Edit', edit_recipe_path(recipe), class: "btn btn-warning" %>
          <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </span>
        </div>
      </div>
    </li>
  <% end %>
    <li class="btn btn-success btn-large pull-right add_new">
      <span class="fui-plus-16"></span>
      <%= link_to 'New recipe', new_recipe_path %>
    </li>
  </ul>
</div>
