<% ingredient_array = @ingredients.collect {|i| i.name}.sort %>

<div class="container-fluid">
<form action="<%= recipes_path %>" method="POST">
  <input id="submitted-list" type="hidden" name="ingredients_list" value=""/>
  <div class="span12">

  <h1>Create a Recipe</h1>
  <input id="create-input" placeholder="Name" name="name"/><button type="submit" id="ingredient-submit" class="btn btn-success btn-large">Submit</button>

  </div>
  <div class="container-fluid">
    <div class="span5">
      <h3>Ingredients:</h3>
      <h4 id="list"></h4>
    </div>
    <div class="span2">
    </div>
    <div class="span5">
      <h3>Pantry: (Click to add)</h3>
      <div class="well">
        <% @ingredients.each do |i| %>
          <p class="btn<%= " btn-primary" if i.updated_at - Time.now > -600 %>" style="margin-bottom:2px" id="ingredient-<%=i.name.gsub(" ","_")%>"><%=i.name%></p>
        <%end%>

      </div>
      <div class="span3 pull-right" id="pantry-button">
        <span class='btn btn-info' id='go-shopping'><a href="<%= new_ingredient_path%>">Go Shopping!</a></span>
        <span class='btn btn-danger pull-right' id='reset_ingredients'>Reset</span>
      </div>
    </div>
  </div>
</form>
</div>
<div class="span12">
  <%= link_to "Back to Recipes", recipes_path %>
</div>
    <%= render :partial => 'jscript', :formats=>[:js], :locals => {:ingredient_array => ingredient_array}%>
